{% extends 'reception_dashboard.html' %}
{% load static %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }

    .form-container {
      max-width: 100%;
      margin: 35px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 100px;
      height: 700px;
      overflow-y: auto;
    }
    .table td img {
        width: 50px;
        height: 50px;
        border-radius: 0%;
    }
    .table td.custom-model-details {
        max-width: 200px;
        word-wrap: break-word;
        white-space: normal;
    }
</style>
<script>
    function validateDateInputs() {
      var fromDate = document.getElementById('textfield').value;
      var toDate = document.getElementById('textfield2').value;
  
      // Perform validation based on your requirements
      if (fromDate.trim() === '' || toDate.trim() === '') {
        alert('Please select both "From" and "To" dates.');
        return false; // Prevent form submission
      }
  
      // Additional validation logic can be added here
  
      // If all validation passes, allow form submission
      return true;
    }
</script>

<div class="container form-container" style="margin-top:1px;">
    <div class="">
        <div class="card-body">
            <h5 style="text-align:center; margin-top:3px;" class="card-title">Order Details</h5>
            <form action="" method="post" onsubmit="return validateDateInputs()">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <tr>
                    <td>From</td>
                    <td><input type="date" name="textfield" id="textfield" class="form-control" /></td>
                    <td>To</td>
                    <td><input type="date" name="textfield2" id="textfield2" class="form-control" /></td>
                    <td><input type="submit" name="textfield3" id="textfield3" value="search" class="btn btn-success"/></td>
                </tr>
            </table>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Name</th>
                            <th>Contact Number</th>
                            <th>Cloth Number</th>
                            <th>Model Details</th>
                            <th>Length</th>
                            <th>Shoulder</th>
                            <th>Sleeve Sada</th>
                            <th>Sleeve Cuff</th>
                            <th>Center Sleeve</th>
                            <th>Sleeve Bottom</th>
                            <th>Loose</th>
                            <th>seat</th>
                            <th>Regal</th>
                            <th>Cloth Name</th>
                            <th>Cloth Length</th>
                            <th>Collar Type</th>
                            <th>Collar Measurement</th>
                            <th>Cuff Type</th>
                            <th>Cuff Measurments</th>
                            <th>Pocket Type</th>
                            <th>Pocket measure</th>
                            <th>Button Type</th>
                            <th>Bottom Measure</th>
                            <th>Bill Number</th>
                            <th>Order Date</th>
                            <th>Delivery Date</th>
                            <th>Description</th>
                            <th>Total Price</th>
                            <th>Advance Payment</th>
                            <th>Balance Payment</th>
                            <th>Tailor</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for i in cus %}
                        <td>{{ forloop.counter }}</td>
                        <td>{{i.id}}</td>
                        <td>{{i.customer_id.id}}</td>
                        <td>
                            <a style="color:black;"
                               href="{% url 'single_customer_reception' customer_id=i.customer_id.id %}">{{i.customer_id.name}}</a>
                        </td>
                        <td>{{i.customer_id.mobile}}</td>
                        <td>{{i.cloth}}</td>
                        <td class="custom-model-details">{{i.model_details}}</td>
                        <td>{{i.length}}</td>
                        <td>{{i.shoulder}}</td>
                        <td>{{i.sleeve_sada}}</td>
                        <td>{{i.sleeve_cuff}}</td>
                        <td>{{i.center_sleeve}}</td>
                        <td>{{i.sleeve_bottom}}</td>
                        <td>{{i.loose}}</td>
                        <td>{{i.seat}}</td>
                        <td>{{i.regal}}</td>
                        <td>{{i.clothdetails.name}}</td>
                        <td>{{i.ordered_length}}</td>
                        <td><img src="{% static i.collar_type_image_url %}" /></td>
                        <td class="custom-model-details">{{i.collar_measurements}}</td>
                        <td><img src="{% static i.cuff_type_image_url %}"/></td>
                        <td class="custom-model-details">{{i.cuff_measurements}}</td>
                        <td><img src="{% static i.pocket_image_url %}" width="100"/></td>
                        <td class="custom-model-details">{{i.pocket}}</td>
                        <td>{{i.button_type}}</td>
                        <td>{{i.bottom1}}</td>
                        <td>{{i.bill_number}}</td>
                        <td>{{i.order_date}}</td>
                        <td>{{i.delivery_date}}</td>
                        <td class="custom-model-details">{{i.description}}</td>
                        <td>{{i.total_payment}}</td>
                        <td>{{i.advance_payment}}</td>
                        <td>{{i.balance_payment}}</td>
                        <td>{{i.tailor}}</td>
                        <td>
                            <form action="{% url 'edit_order_reception' dataid=i.id %}">
                                <button type="submit" class="btn btn-outline-info btn-icon-text btn-sm">
                                    Edit
                                </button>
                            </form>
                        </td>
                        <td>
                            <!-- <form action="{% url 'customerdlt' dlt=i.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this Customer?');"> -->

                            <form action="{% url 'orderdlt_reception' dlt=i.id %}" method="post"
                                  onsubmit="return confirm('Are you sure you want to delete this order?');">
                                {% csrf_token %}

                                <button type="submit" class="btn btn-outline-danger btn-icon-text btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'customer_bill_reception' customer_id=i.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-icon-text btn-sm">
                                    Print
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'deliver_order_reception' order_id=i.id %}" method="post">
                                {% csrf_token %}
                                {% if i.pending_or_delivered == 'pending' %}
                                    <button type="submit" class="btn btn-warning btn-icon-text btn-sm" >
                                        Pending
                                    </button>
                                {% elif i.pending_or_delivered == 'delivered' %}
                                    <button class="btn btn-success btn-icon-text btn-sm">
                                        Delivered
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}