{% extends 'reception_dashboard.html' %}
{% block content %}

<form class="container " method="post" action="{% url 'tailor_work_details_recption'  %}">
    {% csrf_token %}
    <h3 style="text-align:center;">Select Dates</h3><br><br>
    <label for="start_date" style="display: block; margin-bottom: 10px;">Start Date:</label>
    <input type="date" id="start_date" name="start_date" required
           style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ced4da; border-radius: 4px; box-sizing: border-box;">

    <label for="end_date" style="display: block; margin-bottom: 10px;">End Date:</label>
    <input type="date" id="end_date" name="end_date" required
           style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ced4da; border-radius: 4px; box-sizing: border-box;">

    <button type="submit" class="btn btn-success btn-sm">Submit</button>

</form>
{% endblock %}

