{% extends 'dashboard.html' %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }

    .form-container {
      max-width: 1200px;
      margin: 35px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 100px;
      height: 653px;
      overflow-y: auto;
    }


</style>

<div class="container form-container" style="margin-top:1px;">
    <div class="">
        <div class="card-body">
            <h5 style="text-align:center; margin-top:3px;" class="card-title">Customer History</h5>
            <p><strong>Previous Works Of</strong> <b>{{ customer.name }}</b></p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order Details</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.details }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.delivery_date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

</div>
{% endblock %}